.logo {
    font-weight: bold;
    background-color: white;
    color: white;
    font-size: 60px;
}

.first image {
    width: 20%; 
    float: left; 
    margin : 5px;

}

.text {
    float: right;
}
